<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Description | default site.Params.description }}">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "images/favicon.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">
  {{ if .IsHome }}
    {{ $profile := site.Data.profile }}
    <link rel="preload" as="image" href="{{ $profile.hero_art | relURL }}" fetchpriority="high">
  {{ end }}
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700;900&amp;family=Noto+Serif+SC:wght@600;700;900&amp;family=Zen+Kurenaido&amp;display=swap" rel="stylesheet">
</head>
